# Test Files
/src/commands/z*.js

# Config Files
config.test
config.orig

# Events Files
ready.orig
ready.test

# Models Files
/src/models/*.js
!/src/models/breedcostSchema.js
!/src/models/tokenSchema.js
!/src/models/alertTokenSchema.js

# Functions Files
/src/functions/*.js
!/src/functions/findaxie.js
!/src/functions/textFunctions.js
!/src/functions/timeFunctions.js
!/src/functions/tokenFunctions.js

# node module
/node_modules/