# Test Files
/src/commands/z*.js

# Config Files
config.test
config.orig

# Events Files
ready.orig
ready.test

# Models Files
/src/models/*.js
!/src/models/breedcostSchema.js
!/src/models/tokenSchema.js

# node module
/node_modules/